<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="__PUBLIC__/css/login.css">
</head>
<body>
<div class="index-main-body">
    <form action="">
        <div class="account input-wrapper">
            <input type="text" name="account" aria-label="手机号或邮箱" placeholder="手机号或邮箱" required>
        </div>
        <div class="verification input-wrapper">
            <input type="password" name="password" aria-label="密码" placeholder="密码" required/>
            <!--<button type="button" class="send-code-button">获取验证码</button>-->
        </div>
        <div class="button-wrapper command">
            <button class="sign-button submit" type="submit">登录</button>
        </div>
    </form>
</div>
</body>
</html>