.content{
  margin: 50px 50px 50px 200px;


}
.champion_container{
  width: 200px;
  float: left;
  a{
    text-decoration: none;
    img{
      width:80px;
      height:80px;
      text-align:center;
    }
  }
  &:hover{
    background-color: cyan;
  }
}


