
.login-container {
  width: 300px;
  width: 300px;
  margin: 200px auto;
}

.login-container-content {
  display: none;
  .form-group {
    margin: 0;
  }
}

.signup-container-content {
  display: none;
  .form-group {
    margin: 0;
  }
}
.cur{
  display:block;
}