<<<<<<< HEAD
.login-container {
  width: 300px;
  margin: 200px auto;
  text-align: center;
  .form-group{
    margin:0;
=======
.index-main-body {
  margin: 100px;
  text-align: center;
  .input-wrapper {
    width: 300px;
    height: 50px;
>>>>>>> 9f8cc18014220955071ac1b346284b5691c885ab
  }
}