.myspace_container {
  margin-left: 200px;
  float: left;
}

.myspace_left {
  width: 270px;
  position: absolute;

  .account-container {
    .account-avatar {
      height: 160px;
      width: 160px;
      margin: 0 auto;
    }
    .account-details {
      span{
        display: block;
        text-align: center;
      }
    }
  }

}

.myspace_main {
  width: 870px;
  position: relative;
  left: 300px;
}
