<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css">
</head>
<body>

<include file="TopBar/index"/>

<block name="content"></block>

<link rel="stylesheet" href="__PUBLIC__/css/Common/home_base.css">
<script type="text/javascript" src="__PUBLIC__/js/logout.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/lib/jquery-3.2.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugin/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugin/messages_zh.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/lib/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugin/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/home_common.js"></script>

<block name="extra_js"></block>

<block name="extra_css"></block>
</body>